# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.venv/
venv/
ENV/
env/
pip-wheel-metadata/

# Env
.env
.env.*
*.env

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# SQLite
*.db
noscroll.db
noscroll.db-journal
noscroll.db-wal
noscroll.db-shm
